body {
  font-family: sans-serif;
}
/* utility */
.mr_20 {
  margin-right: 20px;
}
.pr_1 {
  padding-right: 1rem;
}
.pl_1 {
  padding-left: 1rem;
}

.text_center {
  text-align: center;
}
/* /utility */
 /* header */
header {
  position: relative;
  background-image: url("../img/heroimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  color: white;
}

header a {
  color: white;
}

nav {
  height: 80px;
  line-height: 80px;
}

nav a {
  padding: 0 10px;
}

.header_menu {
  text-align: right;
}
.list_inline{
  line-height: 80px;
}
.list_inline li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

.header_menu, .header_langs {
  font-size: 0.55rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header_langs li:not(:last-child) {
  border-right: 1px solid white;
}
.header_langs li {
  height: 20px;
  line-height: 20px;
}
.hero_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero_text h1 {
  font-size: 2.5em;

}
.hero_text p {
  margin: 20px 0 30px 0;
}
.hero_text img {
  width: 150px;
}
/* /header */
/* main*/
/* section1 */
#models {
  height: 800px;
  /* background-color: red; */
}
#models .row {
  padding-top: 150px;
}
#models .card {
  text-align: center;
  background-color: #fafafa;
}
#models .card h2{
  padding: 20px;
}
#models .card .vehicle {
  width: 450px;
}
.card p, .card a{
  font-size: 1.5em;
  padding: 20px;
}
/* /section1 */
/* section2 */
#slider {
  height: 800px;
}
#slider {
  background-image: url("../img/download.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}
#slider img {
  margin-top: 150px;
  width: 250px;
}

#slider h2 {
  text-align: right;
}

#slider .row > div:first-child, #slider .row > div:last-child {
  margin-top: 500px;
}

@media screen and (max-width:768px) {
  #slider .row > div:first-child, #slider .row > div:last-child {
    display: none;
  }

}
/* /section2 */
/* section3 */
#promo {
  height: 500px;
}
#promo .long_card {
  background-image: url("../img/scooter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
#promo .small_card_left {
  background-color: #212529;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
#promo .small_card_left {
  position: relative;
  background-color: #212529;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
#promo .small_card_right {
  background-image: url("../img/city.7c8c928.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
