body {
  font-family: sans-serif;
}
/* utility */
.mr_20 {
  margin-right: 20px;
}
/* /utility */
 /* header */
header {
  position: relative;
  background-image: url("../img/heroimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  color: white;
}

header a {
  color: white;
}

nav {
  height: 80px;
  line-height: 80px;
}

nav a {
  padding: 0 10px;
}

.header_menu {
  text-align: right;
}
.list_inline{
  line-height: 80px;
}
.list_inline li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

.header_menu, .header_langs {
  font-size: 0.55rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header_langs li:not(:last-child) {
  border-right: 1px solid white;
}
.header_langs li {
  height: 20px;
  line-height: 20px;
}
.hero_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero_text h1 {
  font-size: 2.5em;

}
.hero_text p {
  margin: 20px 0 30px 0;
}
.hero_text img {
  width: 150px;
}
